<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jobs</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
        crossorigin="anonymous"
    >
</head>
<body>
    <table class="table">
        <tr>
            <th>{{ 'ID' }}</th>
            <th>{{ 'Autor' }}</th>
            <th>{{ 'Vytvořeno' }}</th>
            <th>{{ 'Popis' }}</th>
        </tr>

        {% for item in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ item.job_id }}</td>
                <td>{{ item.personalist.name }}</td>
                <td>{{ item.date_created | date('Y-m-d H:i:s') }}</td>
                <td>{{ item.description|slice(0, 100) }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"
    ></script>
</body>
